<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Page</title>
</head>
<body>
    <form action="/Home/<%=event.id%>?_method=PUT" method="POST">
        <label for="name" >
            Name: 
            <input type="text" required="true" name="name" value="<%=event.name%>">
        </label>
        <label for='description'>
            Description: 
            <input type="text" name="description" value="<%=event.description%>">
        </label>
        <label for="weekday" >
            Weekday: 
            <input type="text" required="true" name="weekday" value="<%=event.weekday%>">
        </label>
        <button type="submit" >Submit</button>
    </form>
</body>
</html>