<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>New Page</title>
</head>
<body>
    <form action="/Home" method="POST">
        <label for="name" >
            Name: 
            <input type="text" required="true">
        </label>
        <label for='description'>
            Description: 
            <input type="text">
        </label>
        <label for="weekday" >
            Weekday: 
            <input type="text" required="true">
        </label>
        <button type="submit" method="Post">Submit</button>
    </form>
</body>
</html>